@import '@nutui/nutui-react-taro/dist/style.css';
@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'tailwindcss/components';
html {
  @apply text-base;
}

taro-view-core {
  @apply box-border;
}
