@import '@nutui/nutui-react-taro/dist/style.css';
@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'tailwindcss/components';
html {
  font-size: 40px !important;
}

taro-view-core {
  @apply box-border;
}
